<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lang.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lang.title %>
</p>

<p>
  <strong>Aka:</strong>
  <%= @lang.aka %>
</p>

<%= link_to 'Edit', edit_lang_path(@lang) %> |
<%= link_to 'Back', langs_path %>
